* {
	font-family:tahoma;
}

header {
    text-align:center;
    overflow:hidden;
}

header nav ul li a {
	list-style:none;
	text-decoration:none;
	padding:0.5em;
	background:rgb(0, 0, 0);
	color:#fff;

}

header nav ul li a:hover {
	color:#75acec;
}

header nav ul {
	float:left;
	display:block;
	margin:1em;
}

header nav ul li {
		display:inline-block;
		text-align:center;

}

header nav {
  margin-left: 17.5em	
}

.bolding {
    font-weight: bold;
}

div {
	position:relative;
	top:5.5em;
	left: 3em;
	padding: .5em;
	border:3px solid red;
	width: 60em;
  
}

#inter {
    text-align: center;
    font-weight: 500;
}

#l1 {
    text-align: center;
    
}

img {
   display:block;
   margin:auto;
	width: 750px;
	height: 450px;
}

a {
    text-decoration: none;
    color: blue;
}
a:hover {
    color: rgba(28, 252, 8, 0.938);
}
a {
    transition: color 0.1s linear 0.2s;
}

#l1 {
	font-weight: 500;
	transition: margin-left 4s;
}